---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Unlimited Forms",
      "250 Monthly Submissions",
      "Unlimited Domains",
      "Advanced Spam Protection",
      "hCaptcha Integration",
      "All Basic Features",
    ],
    button: {
      text: "See Instructions",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$12",
      annual: "$8",
    },
    popular: true,
    features: [
      "All Free Features",
      "Unlimited Submissions",
      "File Attachments",
      "reCaptcha & Cloudflare Turnstile",
      "Autoresponders",
      "Add Trusted Domains",
      "Webhooks"
    ],
    button: {
      text: "Purchase Pro Plan",
      link: "#",
    },
  },
  {
    name: "Agency",
    price: {
      monthly: "$20",
      annual: "$16",
    },
    popular: false,
    features: [
      "All Pro Features",
      "Manage multiple clients",
      "Add up to 20 client emails",
      "Billed only for main account",
      "Unlimited Submissions*",
      "Unlimited Forms",
      "reCaptcha & Webhooks"
    ],
    button: {
      text: "Purchase Agency Plan",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
