---
import Button from "./ui/button.astro";
---

<form
  action={`${import.meta.env.API_URL}/submission/`}
  method="POST"
  id="form"
  class="needs-validation"
  novalidate
>
  <input type="text" class="hidden" name="access_key" value={import.meta.env.FORMSLITE_KEY}>
  <input type="hidden" name="subject" value="New Contact Submission from FormsLite.io">
  
  
  <div class="mb-5">
    <input
      type="text"
      placeholder="Full Name"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="name"
    />
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please provide your full name.
    </div>
  </div>
  
  <div class="mb-5">
    <input
      type="text"
      placeholder="Website"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="website (optional)"
    />
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please provide your full name.
    </div>
  </div>
  
  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label>
    <input
      id="email_address"
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback text-red-400 text-sm mt-1">
      Please provide your email address.
    </div>
    <div class="invalid-feedback text-red-400 text-sm mt-1">
      Please provide a valid email address.
    </div>
  </div>
  
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please enter your message.
    </div>
  </div>
  
  <div class="mt-5 h-captcha" data-sitekey="8eb0ceaa-e688-4f94-90dc-f052d0a27eb6"></div>
  
  <Button type="submit" size="lg" block>Send Message</Button>
</form>

<script src="https://hcaptcha.com/1/api.js" async defer></script>

<script>

  window.onload = function() {
      // Reset the form fields when the page loads
      document.getElementById("form").reset();
  };

  document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('form');

    form.addEventListener('submit', function (event) {
      if (!form.checkValidity() || !validateCaptcha()) {
        event.preventDefault();
        event.stopPropagation();
      }

      form.classList.add('was-validated');
    });

    function validateCaptcha() {
      const hCaptchaResponse = document.querySelector('[name="h-captcha-response"]').value;
      const captchaContainer = document.querySelector('.h-captcha');
      if (!hCaptchaResponse) {
        captchaContainer.classList.add('is-invalid');
        return false;
      } else {
        captchaContainer.classList.remove('is-invalid');
        return true;
      }
    }
  });
</script>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }

  .h-captcha.is-invalid {
    border: 2px solid #dc3545;
    padding: 10px;
  }
</style>
