---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    "title": "Effortless Form Integration",
    "description": "Skip the server-side hassle. FormsLite.io works without any backend code, making form setup a breeze.",
    "icon": "bx:bx-code-alt"
  },
  {
    "title": "Direct Email Delivery",
    "description": "Your form submissions go straight to your inbox. No databases needed, ensuring your data is never stored.",
    "icon": "bx:bxs-data"
  },
  {
    "title": "Access Key Authentication",
    "description": "No login or dashboard required. Securely authenticate users with just an access key.",
    "icon": "bx:bxs-user"
  },
  {
    "title": "Limitless Design Freedom",
    "description": "FormsLite.io’s API integrates seamlessly with any custom design or style, offering ultimate flexibility.",
    "icon": "bx:bxs-palette"
  },
  {
    "title": "GDPR Compliant and Secure",
    "description": "We prioritize your privacy. Only your email address is stored for authentication, with no sharing of information.",
    "icon": "bx:bxs-check-shield"
  },
  {
    "title": "Customizable Email Branding",
    "description": "Enjoy minimal branding on form submission emails. Pro users unlock extensive customization options.",
    "icon": "bx:bxs-envelope"
  }
];
---

<div class="mt-16 md:mt-32 grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
