---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-alt.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="mt-48 text-center pb-8 md:pb-12">
  <div>

    <div class="flex justify-center">
      <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter max-w-3xl">
      Effortless Web Forms for Any Site
    </h1>
    </div>

    <div class="flex justify-center">
      <p class="text-lg mt-4 text-slate-600 max-w-xl">
        Collect form submissions directly in your inbox with our API service. No server setup, no backend coding needed. Start for free today!
      </p>
    </div>

    <div class="mt-6 flex justify-center sm:flex-row gap-3 items-center">
      <Link
        href="#accesskeyform"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Create Access Key
    </div>
    
    
    <div class="mt-2 text-slate-600">No Signup required</div>
  </div>
</main>
